<h1>All investors</h1>

<ul>
	<hr>
	<% @investors.each do |investor| %>
		<li>
			<%= link_to investor.name, investor_path(investor) %><br>
			<p><%= investor.description %></p>
		</li>
		<hr>
	<% end %>
</ul>